.solid {
    background: rgb(45, 211, 111);
    color: white;
    border: none;
}

.outline {
    background: transparent;
    color: rgb(45, 211, 111);
    border: 2px solid rgb(45, 211, 111);
}

.clear {
    background: transparent;
    border: none;
    color: rgb(45, 211, 111);
}

button:hover {
    background-color: rgb(35, 181, 96);
}

button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.error {
    color: white;
    background: red;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

body {
    background: #f0f4f8;
}